<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Cache-control" content="public">
  <title>DT's Films
</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
{% load static%}
<link rel="stylesheet" href="{% static 'movies/octicons/octicons.css'%}">
<link rel="stylesheet" href="{% static 'movies/css/style.css'%}">
<link rel="shortcut icon" href="{%  static 'movies/favicon/favicon.ico' %}">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">DT's Films</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {% if current == 'seen' %}class="active"{% endif%}><a href= "{% url 'seen_movies' %}" >Seen</a></li>
        <li {% if current == 'unseen' %}class="active"{% endif%}><a href= "{% url 'unseen_movies' %}" >Unseen</a></li>
        <li {% if current == 'bookmarked' %}class="active"{% endif%}><a href= "{% url 'bookmarked' %}" >Bookmarked</a></li>

        <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort By <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="http://127.0.0.1:8000/change_sort_by/?sort_by=tomato&current={{current}}">Tomato{% if sort_by == 'tomato' %}&nbsp;<span class="octicon octicon-check"></span>{% endif %}</a></li>
                    <li><a href="http://127.0.0.1:8000/change_sort_by/?sort_by=imdb&current={{current}}">Imdb{% if sort_by == 'imdb' %}&nbsp;<span class="octicon octicon-check"></span>{% endif %}</a></li>
                    <li><a href="http://127.0.0.1:8000/change_sort_by/?sort_by=year&current={{current}}">Year <span class="octicon octicon-arrow-up"></span>{% if sort_by == 'year' %}&nbsp;<span class="octicon octicon-check"></span>{% endif %}</a></li>
                    <li><a href="http://127.0.0.1:8000/change_sort_by/?sort_by=-year&current={{current}}">Year <span class="octicon octicon-arrow-down"></span>{% if sort_by == '-year' %}&nbsp;<span class="octicon octicon-check"></span>{% endif %}</a></li>
                    <!-- <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li> -->
                  </ul>
                </li>

      </ul>
      <div class="navbar-form navbar-left">
        <div class="form-group">
          <input id="search_input" type="text" class="form-control" placeholder="Search">
        </div>
        <button id="search" class="btn btn-primary">Submit</button>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<style>
  body{
    padding-top: 60px;
  }
</style>
    {% block body%}
    {% endblock %}
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {% block script %}
    {% endblock %}

    <!-- <div class="pagination">
    <span class="step-links">
        {% if data.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ data.number }} of {{ data.paginator.num_pages }}.
        </span>

        {% if data.has_next %}
            <a href="?page={{ data.next_page_number }}">next</a>
        {% endif %}
    </span>
</div> -->


</body>
</html>
