{% extends 'movies/base.html'%}

{% block body%}
  <br>
  <div class = "container" align="center">
  {% load static %}

  {% for m in data %}

  <div class="panel panel-default" style="display:inline-block;width:35%">
  <table class="table">
    <tr>
      <td rowspan="5"><img class="media-object" src= "{% static "" %}movies/{{m.pk}}.jpg" alt={{m.title}} height="220px"></td>
        <th colspan="2">{{m.title}}</th>
      </tr>
        <tr>
          <td colspan="2">{{m.director}}</td>
        </tr>
        <tr>
          <td colspan="2">{{m.year}}</td>
        </tr>
        <tr>
          <td colspan="2">{{m.tomatometer}}</td>
        </tr>

    <tr>
      <td>
        {% if m.seen_status %}
        <button id="btn-{{m.pk}}" type="button" class="seen-status btn btn-success">Seen</button>
        {% else %}
        <button id="btn-{{m.pk}}" type="button" class="seen-status btn btn-warning">Not Seen</button>
        {% endif%}
      </td>
      <td>
        {% if m.bookmarked %}
        <button id="book-{{m.pk}}" type="button" class="book-status btn btn-success">B</button>
        {% else %}
        <button id="book-{{m.pk}}" type="button" class="book-status btn btn-warning">NB</button>
        {% endif%}
      </td>
    </tr>
  </table>
</div>

  {% endfor %}


</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $(document).on('click','.seen-status',function(){
      console.log($(this).attr('id'));
      $.post('http://127.0.0.1:8000/change_seen_status/',
      {id : $(this).attr('id'),
      csrfmiddlewaretoken : '{{csrf_token}}' });
      $(this).toggleClass('btn-success');
      $(this).toggleClass('btn-warning');
      if ($(this).text()=='Seen')
        $(this).text('Not Seen');
      else {
        $(this).text('Seen');
      }
      });
    $(document).on('click','.book-status',function(){
      console.log($(this).attr('id'));
      $.post('http://127.0.0.1:8000/change_book_status/',
      {id : $(this).attr('id'),
      csrfmiddlewaretoken : '{{csrf_token}}' });
      $(this).toggleClass('btn-success');
      $(this).toggleClass('btn-warning');
      if ($(this).text()=='B')
        $(this).text('NB');
      else {
        $(this).text('B');
      }
      });

  });
</script>
{% endblock%}
