<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Movies
</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
  <br>
  <div class = "container" align="center">
  {% load static %}
  <!-- <div class="panel panel-default">
  <table class="table">
    <tr>
      <td>S.No.</td>
      <td>Movie</td>
      <td>Director</td>
      <td>Year</td>
      <td>Tomatometer</td>
    </tr>
  </table>
</div> -->
  {% for m in data %}

  <!-- <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src= "{% static "" %}movies/{{m.pk}}.jpg" alt={{m.title}} height="150px">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{m.title}}</h4>
      <div>
        <div style="display:inline">
      <p>Directed by: {{m.director}}<p>
      <p>Released year: {{m.year}}</p>
      <p>Genre: {{m.genre}}</p>
      <p>tomatometer: {{m.tomatometer}}</p>
      <p>Imdb Rating: {{m.imdb_rating}}</p>
        {% if m.seen_status %}
        <button style="display:inline;" id="btn-{{m.pk}}" type="button" class="seen-status btn btn-success">Seen</button>
        {% else %}
        <button style="display:inline;" id="btn-{{m.pk}}" type="button" class="seen-status btn btn-warning">Not Seen</button>
        {% endif%}
      </div>
      </div>
    </div>
  </div> -->


  <div class="panel panel-default" style="display:inline-block;width:35%">
  <table class="table">
    <tr>
      <td rowspan="5"><img class="media-object" src= "{% static "" %}movies/{{m.pk}}.jpg" alt={{m.title}} height="220px"></td>
        <th>{{m.title}}</th>
      </tr>
        <tr>
          <td>{{m.director}}</td>
        </tr>
        <tr>
          <td>{{m.year}}</td>
        </tr>
        <tr>
          <td>{{m.tomatometer}}</td>
        </tr>

    <tr>
      <td>
        {% if m.seen_status %}
        <button style="display:inline;" id="btn-{{m.pk}}" type="button" class="seen-status btn btn-success">Seen</button>
        {% else %}
        <button style="display:inline;" id="btn-{{m.pk}}" type="button" class="seen-status btn btn-warning">Not Seen</button>
        {% endif%}
      </td>
    </tr>
  </table>
</div>


  <!-- <h3>{{m.title}}</h3>
  <p>{{m.pk}}.jpg</p>
  <p>{{m.director}}</p>
  <p>Year:{{m.year}}</p>
  <p>Tomatometer:{{m.tomatometer}}</p>
  <img src= "{% static "" %}movies/{{m.pk}}.jpg" height="250px"> -->
  {% endfor %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $(document).on('click','.seen-status',function(){
      console.log($(this).attr('id'));
      $.post('http://127.0.0.1:8000/change_seen_status/',
      {id : $(this).attr('id'),
      csrfmiddlewaretoken : '{{csrf_token}}' });
      $(this).toggleClass('btn-success');
      $(this).toggleClass('btn-warning');
      if ($(this).text()=='Seen')
        $(this).text('Not Seen');
      else {
        $(this).text('Seen');
      }
      });
  });
</script>
</body>
</html>
